
  .message-list {
      height:  calc(100vh - 200px);
      width: 100%;
  }

  .chat-head {
      width: 110vh;
  }

  .empty-panel {
    color: #cccccc;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    display: block !important;
  }

  .icon{
    background-color: white;
    .prioritized{
      border:none;
    }
    
    .completed{
      border:none;
    }
    
    .deleted{
      border:none;
    }    
}