.rce-container-mlist {
    width: inherit;
    display: block;
  }
  
  .rce-container-mlist {
    height: 500px;
  }

  .message-list {
      height:  calc(100vh - 140px);
      width: 100%;
  }

  .chat-head {
      width: 100vh;
  }

  .rce-mlist {
    width: inherit;
  }

  .rce-citem {
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
  }